.buslist {
    margin-top: 20px;
    height: 20vh;
    background-color: rgba(240, 133, 125, 0.548);
}
.Businfo{
    background-color: #f1eeee;
}

.row {
    margin-left: 15px;
}
.buscontainer{
    width: 90vw;
}




#app {
    border: 3px solid #e3e3e3;
    border-radius: 4px;
    padding: 10px;
   
} 

    #circle-avatar {
      display: grid;
      width: 100px;
      height: 100px;

      border-radius: 50%;
      background-color: rgba(240, 133, 125, 0.548);
      place-items: center;
    }
     